<head>   
    <link rel="stylesheet" type="text/css" href="/user.css">
    <title>Tasks By User</title>
</head>
<body> 
    <%- include('../partials/menu.ejs') %>  
    <h3>Tasks By User</h3> 
    <h6>Qtd task by User: <%= tasksByUser.length%></h6>
    <table class="table">
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Initial Date</th>
        <th>Finish Date</th>
        <th>Status</th>
        <th>Days to the End</th>        
        
        <tbody> 
            <% for(i=0; i<tasksByUser.length; i++) {%>
                <tr>
                    <td><%= tasksByUser[i].id  %></td>
                    <td><%= tasksByUser[i].name  %></td>
                    <td><%= tasksByUser[i].description  %></td> 
                    <td><%= tasksByUser[i].initial_date  %></td> 
                    <td><%= tasksByUser[i].finish_date  %></td> 
                    <td><%= tasksByUser[i].status  %></td>
                    <td><%= tasksByUser[i].calc_date  %></td>                     
                    
                </tr>
            <% } %>           
        </tbody>
    </table>
    <%- include('../partials/footer.ejs') %>  
 </body>
